.main {
    border: 1px solid black;
}

.second-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.get-div {
    text-align: center;
    background-color: green;
    margin: 0.4rem;
    padding: 0.5rem 4rem;
}

.add-div {
    text-align: center;
    background-color: yellowgreen;
    margin: 0.4rem;
    padding: 0.5rem 4rem;
}