.navbar-brand:hover {
    cursor: pointer;
}

.nav-item:hover {
    cursor: pointer;
}


.export-as-csv {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 2rem;
    transition: all 1s;
    /* background-color: rgba(174, 127, 232, 255); */
    /* color: black; */
}

.export-as-csv:hover {
    /* box-shadow: 5px 5px 5px rgba(174, 127, 232, 0.8); */
    cursor: pointer;
}

.export-as-csv img {
    width: 100%;
    height: 1.5rem;
}

.export-as-csv p {
    margin: auto;
}