.navbar-brand:hover {
    cursor: pointer;
}

.nav-item:hover {
    cursor: pointer;
}


.export-as-csv {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 2rem;
    transition: all 1s;
    border: 1px solid black;
}

.export-as-csv:hover {
    cursor: pointer;
}

.export-as-csv img {
    width: 100%;
    height: 1.5rem;
}

.export-as-csv p {
    margin: auto;
}