<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
    <div class="main">
        <div class="card">
            <div class="submit-file">
                <div class="input-group">
                    <input type="file" class="form-control" id="inputGroupFile04"
                        aria-describedby="inputGroupFileAddon04" aria-label="Upload" (change)="onFileSelected($event)"
                        accept=".csv">
                </div>
            </div>
            <hr>
            <form #addToDoForm="ngForm" (submit)="addToDoFunction(addToDoForm)">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Title</label>
                    <input name="title" ngModel type="text" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="form-floating">
                    <textarea name="description" ngModel class="form-control" placeholder="Leave a comment here"
                        id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Description</label>
                </div>
                <div class="mb-3 form-check">
                    <input name="completed" ngModel type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Mark as completed</label>
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>