/* .main {
    margin: 2rem 4rem;
} */

form {
    margin: 2rem;
}

.form-check {
    margin-top: 5px;
}

.submit-file {
    margin: 0.4rem 2rem;
}

.btn {
    background-color: #ffd803;
    color: #272343;
}