.main {
    margin: 1rem 2rem;
}



.card {
    margin: 0.6rem auto;
    transition: all 0.5s;
    /* background-color: rgba(0, 128, 128, 0.5); */
    /* background-color: rgba(174, 127, 232, 255); */
}

.hover-effect:hover {
    box-shadow: 5px 5px 5px rgba(174, 127, 232, 0.8);
    cursor: pointer;
}

.inside {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.left {
    width: 2%;
    text-align: center;
}


/* .left div input {
    margin: auto;
    margin-top: 1.2rem;
} */

.center {
    width: 86%;
}

.title {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 1rem;
    color: #272343;
}

.right {
    width: 12%;
    text-align: center;
}

.right p {
    margin: auto;
}

.description {
    font-family: 'Ubuntu';
    font-size: 1.2rem;
    color: #2d334a;
}

.bottom-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.export-as-csv {
    margin: auto;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    padding: 0.5rem 2rem;
    width: 14%;
    transition: all 1s;
    /* border-radius: 0.5rem; */
    background-color: rgba(174, 127, 232, 255);
    color: black;
}

.export-as-csv:hover {
    box-shadow: 5px 5px 5px rgba(174, 127, 232, 0.8);
    cursor: pointer;
}

.export-as-csv img {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
}

.export-as-csv p {
    margin: auto;
}

.delete-custom img {
    width: 2rem;
    height: 2rem;
}

.update-custom img {
    width: 2rem;
    height: 2rem;
}


/* cutom button flex design */
.custom_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/* here is the code for custom download as csv button */
.custom_abhinav_button_download {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #17795E;
    background-color: #209978;
    overflow: hidden;
}

.custom_abhinav_button_download,
.custom_abhinav_button_download .button__icon,
.custom_abhinav_button_download .button__text {
    transition: all 0.3s;
}

.custom_abhinav_button_download .button__text {
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
}

.custom_abhinav_button_download .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #17795E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom_abhinav_button_download .svg {
    width: 20px;
    fill: #fff;
}

.custom_abhinav_button_download:hover {
    background: #17795E;
}

.custom_abhinav_button_download:hover .button__text {
    color: transparent;
}

.custom_abhinav_button_download:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.custom_abhinav_button_download:active .button__icon {
    background-color: #146c54;
}

.custom_abhinav_button_download:active {
    border: 1px solid #146c54;
}

/* here is custom add element css */
.custom_abhinav_add_todo {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
}

.custom_abhinav_add_todo,
.custom_abhinav_add_todo .button__icon,
.custom_abhinav_add_todo .button__text {
    transition: all 0.3s;
}

.custom_abhinav_add_todo .button__text {
    transform: translateX(20px);
    /* Adjusted value for text position */
    color: #fff;
    font-weight: 600;
}

.custom_abhinav_add_todo .button__icon {
    position: absolute;
    right: 5px;
    /* Adjusted value for icon position */
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom_abhinav_add_todo .svg {
    width: 30px;
    stroke: #fff;
}

.custom_abhinav_add_todo:hover {
    background: #34974d;
}

.custom_abhinav_add_todo:hover .button__text {
    color: transparent;
}

.custom_abhinav_add_todo:hover .button__icon {
    width: 110px;
    /* Adjusted value for icon width on hover */
}

.custom_abhinav_add_todo:active .button__icon {
    background-color: #2e8644;
}

.custom_abhinav_add_todo:active {
    border: 1px solid #2e8644;
}

/* custom search input */
.custom_search_abhinav {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.custom_search_abhinav .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.custom_search_abhinav .input::placeholder {
    color: #9e9ea7;
}

.custom_search_abhinav .input:focus,
.custom_search_abhinav .input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.custom_search_abhinav .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

/* check it */
.abhinav_to_complete input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.abhinav_to_complete {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}

.abhinav_to_complete .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 2em;
    width: 2em;
    background-color: #ccc;
    border-radius: 50%;
    transition: .4s;
}

.abhinav_to_complete .checkmark:hover {
    box-shadow: inset 17px 17px 16px #b3b3b3, inset -17px -17px 16px #ffffff;
}

.abhinav_to_complete input:checked~.checkmark {
    box-shadow: none;
    background-color: limegreen;
    transform: rotateX(360deg);
}

.abhinav_to_complete input:checked~.checkmark:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.abhinav_to_complete .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.abhinav_to_complete input:checked~.checkmark:after {
    display: block;
}

.abhinav_to_complete .checkmark:after {
    left: 0.96em;
    top: 0.7em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    box-shadow: 0.1em 0.1em 0em 0 rgba(0, 0, 0, 0.3);
    transform: rotate(45deg);
}


/* for filter check box */
.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.form-check {
    display: flex;
    flex-direction: row;
}

.form-check label {
    margin: auto;
}

.form-check p {
    margin: auto;
    margin-left: 10px;
}

/* delete inside of expand css */
.custom_abhinav_delete_button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}

.custom_abhinav_delete_button .svgIcon {
    width: 12px;
    transition-duration: .3s;
}

.custom_abhinav_delete_button .svgIcon path {
    fill: white;
}

.custom_abhinav_delete_button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.custom_abhinav_delete_button:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}

.custom_abhinav_delete_button::before {
    position: absolute;
    top: -20px;
    content: "Delete";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}

.custom_abhinav_delete_button:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}

/* edit button inside expandle div */
.custom_abhinav_edit_button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: rgb(168, 38, 255);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(140, 32, 212);
    transition-duration: .3s;
}

.custom_abhinav_edit_button .svg {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
}

.custom_abhinav_edit_button:hover {
    color: transparent;
}

.custom_abhinav_edit_button:hover .svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
}

.custom_abhinav_edit_button:active {
    transform: translate(3px, 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
}