<div class="main">
    <button mat-button (click)="openDialog()">Open dialog</button>
    <!-- Export AS CSV button -->
    <div class="export-as-csv" (click)="exportAsCSVFunction()">
        <img src="assets\export_as_csv.svg" alt="">
        <p>Export as CSV</p>
    </div>
    <!-- search bar here -->
    <div class="search-bar">
        <form #searchField="ngForm" class="d-flex" role="search">
            <input name="searchValue" ngModel #searchInput="ngModel" class="form-control me-2" type="search"
                placeholder="Search" aria-label="Search" (input)="onInputChange(searchInput.value)">
            <!-- <button class="btn btn-success" type="submit">Search</button> -->
        </form>

    </div>


    <!-- check box for filter -->
    <div class="filter">
        <div class="form-check" *ngFor="let filter of filters">
            <input (change)="clickedRadioBootStrap(filter)" class="form-check-input" type="checkbox" [id]="filter.name"
                [value]="filter.name" [checked]="filter.selected">
            <label class="form-check-label" [for]="filter.name">
                {{filter.name}}
            </label>
        </div>

    </div>
    <div class="card hover-effect" *ngFor="let todo of todos">
        <div class="card-body">
            <div class="inside">
                <!-- for right -->
                <div class="left">
                    <div *ngIf="!todo.completed">
                        <input (change)="changedRadio(todo.id)" class="form-check-input" type="checkbox"
                            [id]="'checkboxNoLabel' + todo.id" value="" aria-label="..."
                            [checked]="selectedTodoId === todo.id" (change)="selectTodo(todo.id)">
                    </div>
                </div>
                <!-- for center -->
                <div class="center">
                    <p class="title">{{todo.title|uppercase}}</p>
                </div>
                <!-- for left -->
                <div class="right">
                    <p class="d-inline-flex gap-1">
                        <button class="btn btn-primary img-btn" type="button" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#collapseExample' + todo.id" aria-expanded="false"
                            [attr.aria-controls]="'collapseExample' + todo.id">
                            info
                        </button>
                    </p>
                </div>
            </div>
            <!-- putting collapse here bcz it doesn't disturb width percentage -->
            <div class="collapse" [attr.id]="'collapseExample' + todo.id">
                <div class="card card-body">
                    <p class="description">{{todo.description}}</p>
                    <!-- <p>{{todo.created_date | date:'dd/MM/yyyy hh:mm a'}}</p> -->
                    <p>{{todo.created_date | date}}</p>
                    <div class="bottom-button">
                        <div class="update-custom">
                            <img src="assets\update.svg" alt="">
                        </div>
                        <!-- <button class="btn btn-danger" (click)="deleteToDo(todo.id)">delete</button> -->
                        <div class="delete-custom" (click)="deleteToDo(todo.id)">
                            <img src="assets\delete_svg.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height: 0.2rem;"></div>