.main {
    margin: 1rem 2rem;
}

.search-bar {
    margin: 0.5rem;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    margin: 0.6rem auto;
    transition: all 0.5s;
    /* background-color: rgba(0, 128, 128, 0.5); */
    /* background-color: rgba(174, 127, 232, 255); */
}

.hover-effect:hover {
    box-shadow: 5px 5px 5px rgba(174, 127, 232, 0.8);
    cursor: pointer;
}

.inside {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.left {
    width: 2%;
    text-align: center;
}


/* .left div input {
    margin: auto;
    margin-top: 1.2rem;
} */

.center {
    width: 86%;
}

.title {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 1rem;
    color: #272343;
}

.right {
    width: 12%;
    text-align: center;
}

.right p {
    margin: auto;
}

.description {
    font-family: 'Ubuntu';
    font-size: 1.2rem;
    color: #2d334a;
}

.bottom-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.export-as-csv {
    margin: auto;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    padding: 0.5rem 2rem;
    width: 14%;
    transition: all 1s;
    /* border-radius: 0.5rem; */
    background-color: rgba(174, 127, 232, 255);
    color: black;
}

.export-as-csv:hover {
    box-shadow: 5px 5px 5px rgba(174, 127, 232, 0.8);
    cursor: pointer;
}

.export-as-csv img {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
}

.export-as-csv p {
    margin: auto;
}


/* .delete-custom {
    border: 1px solid black;
} */

.delete-custom img {
    width: 2rem;
    height: 2rem;
}

.update-custom img {
    width: 2rem;
    height: 2rem;
}